.gamecontainer {
    height: 100%;
    width: 100%;
    margin: 1em;
    display: flex;
    font-size: 30px;
    font-family: "Verdana", Geneva, sans-serif;
    font-weight: bold;
    color: black;
}

.game {
    border-style: solid;
    border-width: 0.05em;
    border-color: Black;
    margin: auto;
    width: auto;
}

.clear {
    clear: both;
}

.grid-container {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.grid-item {
    border-style: solid;
    border-width: 0.05em;
    border-color: Black;
    text-align: center;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.green {
    color: green;
}

.lightblue {
    color: #94c5e5;
}