@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import play.api.data._
@import forms.TotpSetupForm.Data
@import com.mohiva.play.silhouette.impl.providers.GoogleTotpCredentials
@import com.mohiva.play.silhouette.impl.providers.GoogleTotpInfo

@this()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)
@(user: models.User, totpInfoOpt: Option[GoogleTotpInfo], totpDataOpt: Option[(Form[Data], GoogleTotpCredentials)] = None)(implicit request: RequestHeader, messages: Messages)

@implicitFieldConstructor = @{
    b4.vertical.fieldConstructor()
}

@main(messages("home.title"), Some(user)) {
    <div class="user col-md-6 col-md-offset-3">
        <div class="row">
            <h1>Battleship</h1>
        </div>
        <div class="row data">
            <div class="col-md-12">
                <p>
                    The game is played on four grids, two for each player. The grids are
                    typically square – usually 10×10 – and the individual squares in the
                    grid are identified by letter and number. On one grid the player
                    arranges ships and records the shots by the opponent. On the other grid
                    the player records their own shots. Before play begins, each player
                    secretly arranges their ships on their primary grid. Each ship occupies
                    a number of consecutive squares on the grid, arranged either
                    horizontally or vertically. The number of squares for each ship is
                    determined by the type of the ship. The ships cannot overlap (i.e., only
                    one ship can occupy any given square in the grid). The types and numbers
                    of ships allowed are the same for each player.
                </p>
                <h3>Gamestates:</h3>
                <br />
                <p>
                    <strong>Playersetting:</strong>
                    <br />
                    Just hit the start button on the <a href="/#/">HOME</a> Page and write
                    your Name. Then wait for player 2
                </p>
                <p>
                    <strong>Shipsetting:</strong>
                    <br />
                    the ships has to set the start and the end of the ship
                </p>
                <p>
                    <strong>Idle:</strong>
                    <br />
                    Just press the field you think the opponent has placed a ship
                </p>
                <p><strong>Solved</strong><br />it's a secret ;)</p>
                <p>
                    <strong>Saved</strong><br />press SAVE in the navbar
                </p>
                <p>
                    <strong>Loaded</strong><br />press LAOD in the navbar
                </p>
            </div>
            <hr />
            <br />
            <br />
            <hr />
            <br />
            <h2>Developer</h2>
            <div class="developer_aboutpage">
                <br />
                <p>Marcel Gaiser</p>
                <p>Matthias Reichenbach</p>
            </div>
            </div>
        </div>
    </div>
}
