@import Battleship.controller.ControllerBaseImpl.PlayerState
@(controller: Battleship.controller.InterfaceController)
@main("Battleship") {
    <body id="body_gamepage">
        <div class="gamecontainer">
            <div class="game">
                <div class="player1">
                    <div class="playerName">
                    @{
                        controller.getPlayer1.toString
                    }
                    </div>
                    <div class="clear"></div>
                    @for(row <- 0 until 10) {
                        <div class="grid-container">
                        @for(col <- 0 until 10) {
                            <span class="grid-item">
                                <button name="submit" type="button" class="btn btn-outline-secondary buttonSize">
                                @{
                                    if(controller.getPlayerState == PlayerState.PLAYER_ONE) {
                                        if(controller.getGridPlayer1.getValue(row, col) == 0) {
                                                <span class="blue">~</span>
                                        }
                                        else if(controller.getGridPlayer1.getValue(row, col) == 1) {
                                                <span class="green">x</span>
                                        } else if(controller.getGridPlayer1.getValue(row, col) == 2) {
                                                <span class="red">x</span>
                                        } else if(controller.getGridPlayer1.getValue(row, col) == 3) {
                                                <span class="lightblue">0</span>
                                        }
                                    } else if(controller.getPlayerState == PlayerState.PLAYER_TWO) {
                                        if(controller.getGridPlayer1.getField(row, col) == 0) {
                                                <span class="blue">~</span>
                                        }
                                        else if(controller.getGridPlayer1.getField(row, col) == 1) {
                                                <span class="green">x</span>
                                        } else if(controller.getGridPlayer1.getField(row, col) == 2) {
                                                <span class="red">x</span>
                                        } else if(controller.getGridPlayer1.getField(row, col) == 3) {
                                                <span class="lightblue">0</span>
                                        }
                                    }
                                }
                                </button>

                            </span>
                        }
                        </div>
                        <div class="clear"></div>
                    }
                </div>

                <div class="player2">
                    <div class="playerName">
                    @{
                        controller.getPlayer2.toString
                    }
                    </div>
                    <div class="clear"></div>
                    @for(row <- 0 until 10) {
                        <div class="grid-container">
                        @for(col <- 0 until 10) {
                            <span class="grid-item">
                                <button name="submit" type="button" class="btn btn-outline-secondary buttonSize" id="@{row + " " + col}">

                                @{
                                    if(controller.getPlayerState == PlayerState.PLAYER_TWO) {
                                        if(controller.getGridPlayer2.getValue(row, col) == 0) {
                                                <span class="blue">~</span>
                                        }
                                        else if(controller.getGridPlayer2.getValue(row, col) == 1) {
                                                <span class="green">x</span>
                                        } else if(controller.getGridPlayer2.getValue(row, col) == 2) {
                                                <span class="red">x</span>
                                        } else if(controller.getGridPlayer2.getValue(row, col) == 3) {
                                                <span class="lightblue">0</span>
                                        }
                                    } else if(controller.getPlayerState == PlayerState.PLAYER_ONE) {
                                        if(controller.getGridPlayer2.getField(row, col) == 0) {
                                                <span class="blue">~</span>
                                        }
                                        else if(controller.getGridPlayer2.getField(row, col) == 1) {
                                                <span class="green">x</span>
                                        } else if(controller.getGridPlayer2.getField(row, col) == 2) {
                                                <span class="red">x</span>
                                        } else if(controller.getGridPlayer2.getField(row, col) == 3) {
                                                <span class="lightblue">0</span>
                                        }

                                    }
                                }
                                </button>
                            </span>
                        }
                        </div>
                        <div class="clear"></div>
                    }

                </div>
            </div>
        </div>
    </body>

}