@*
* This template takes a single argument, a String containing a
* message to display.
*@
@()
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Welcome to Play") {
    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
    <body id="body_aboutpage">
        <h1>About Battleship</h1>
        <br>
        <hr>
        <br>
        <div class="video_div">
            <video autoplay loop id="video_aboutpage">
                <source src="@routes.Assets.versioned("images/battleship_intro.mp4")" type="video/mp4">
            </video>
        </div>
        <br>
        <hr>
        <br>
        <div class="about_howTo">
            <h2>How To Play</h2>
            <p>The game is played on four grids, two for each player. The grids are typically square – usually 10×10 – and the individual squares in the grid are identified by letter and number. On one grid the player arranges ships and records the shots by the opponent. On the other grid the player records their own shots. Before play begins, each player secretly arranges their ships on their primary grid. Each ship occupies a number of consecutive squares on the grid, arranged either horizontally or vertically. The number of squares for each ship is determined by the type of the ship. The ships cannot overlap (i.e., only one ship can occupy any given square in the grid). The types and numbers of ships allowed are the same for each player. </p>
            <h3>Gamestates:</h3>
            <p><strong>Playersetting: </strong><span class="span_command">/setPlayers/"playername"</span> example <span>/setPlayers/Matthias</span></p>
            <p><strong>Shipsetting: </strong> <span class="span_command">/setShip/"coordinates"</span> example <span class="span_command">/setShip/0 0 0 1</span> </p>
            <p><strong>Idle: </strong> <span class="span_command">/"coordinates"</span> example <span class="span_command">/0 0</span> </p>
            <p><strong>Solved</strong> </p>
            <p><strong>Saved</strong> </p>
            <p><strong>Loaded</strong> </p>
        </div>
        <hr>
        <br>
        <div class="video_div">
            <video width="200" autoplay loop id="gif_aboutpage">
                <source src="@routes.Assets.versioned("images/matrose.mp4")" type="video/mp4">
            </video>
        </div>
        <br>
        <hr>
        <br>
        <h2>Developer</h2>
        <div class="developer_aboutpage">
            <br>
            <p>Marcel Gaiser</p>
            <p>Matthias Reichenbach</p>
        </div>
        <br>
        <br>
    </body>

}
