@(content: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Battleship</a>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/setPlayer">Set Player</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/setShip">Set Ship</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/idle">Main Game</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
        @* And here's where we render the `Html` object containing
        * the page content. *@
        @content
    </body>
</html>