@import Battleship.controller.ControllerBaseImpl.{PlayerState, GameState}
@(controller: Battleship.controller.InterfaceController)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        @* And here's where we render the `Html` object containing
        * the page content. *@
        @{
            if(controller.getGameState == GameState.PLAYERSETTING) {
                    if (controller.getPlayerState == PlayerState.PLAYER_ONE) {
                        "Player 1, please add your name :-)"
                    } else if (controller.getPlayerState == PlayerState.PLAYER_TWO) {
                        "Player 2, please add your name :-)"
                    }
            } else {
                    "your in the state: " + controller.getGameState +  " please look at about page for more infos"
            }
        }

    </body>
</html>