@import Battleship.controller.ControllerBaseImpl.PlayerState
@(controller: Battleship.controller.InterfaceController)
@main("Battleship") {
    <body id="body_setshippage">
        <br><br><br><br>
        <div class="gamecontainer">
            <div class="game">

                <div class="player">
                    <div class="playerName">

                    @{
                        if(controller.getPlayerState == PlayerState.PLAYER_ONE) {
                            controller.getPlayer1.toString
                        } else if(controller.getPlayerState == PlayerState.PLAYER_TWO) {
                            controller.getPlayer2.toString
                        }
                    }
                    </div>
                    <div class="clear"></div>
                    @for(row <- 0 until 10) {
                        <div class="grid-container">
                        @for(col <- 0 until 10) {
                            <span class="grid-item">
                                <button name="submit" type="button" class="btn btn-outline-secondary buttonSize" id="@{row + " " + col}" onclick="handleShipSetClick(@row, @col)">
                                @{
                                    var valueOfField: Int = 0
                                    if(controller.getPlayerState == PlayerState.PLAYER_ONE) {
                                        valueOfField = controller.getGridPlayer1.getValue(row, col)
                                    } else if(controller.getPlayerState == PlayerState.PLAYER_TWO) {
                                        valueOfField = controller.getGridPlayer2.getValue(row, col)
                                    }
                                    var cellId = Array(row, col)
                                    if(valueOfField == 0) {
                                            <span class="blue">~</span>
                                    }
                                    else if(valueOfField == 1) {
                                            <span class="green">x</span>
                                    }

                                }
                                </button>
                            </span>
                        }
                        </div>
                    }
                    <div class="shipSetPossibilities">

                        @{
                            "You can still place: "
                        }
                        <div class="clear"></div>
                        <div class="separation">
                            @for(nr <- 0 until 4) {
                                @{
                                    if(controller.getPlayerState == PlayerState.PLAYER_ONE) {
                                        controller.getNrPlayer1()(nr) + " of the " + (nr + 2) + " long ships"
                                    } else if(controller.getPlayerState == PlayerState.PLAYER_TWO) {
                                        controller.getNrPlayer2()(nr) + " of the " + (nr + 2) + " long ships"
                                    }
                                }
                                <div class="clear"></div>
                            }
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

}