@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import play.api.data._
@import forms.TotpSetupForm.Data
@import com.mohiva.play.silhouette.impl.providers.GoogleTotpCredentials
@import com.mohiva.play.silhouette.impl.providers.GoogleTotpInfo
@import Battleship.controller.ControllerBaseImpl.PlayerState

@this()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)
@(user: models.User, totpInfoOpt: Option[GoogleTotpInfo], controller: Battleship.controller.InterfaceController, totpDataOpt: Option[(Form[Data], GoogleTotpCredentials)] = None)(implicit request: RequestHeader, messages: Messages)
@implicitFieldConstructor = @{
    b4.vertical.fieldConstructor()
}
@main(messages("home.title"), Some(user)) {
    <div class="user col-md-6 col-md-offset-3">
        <body id="body_setshippage">
            <br><br><br><br>
            <div class="gamecontainer">
                <div class="game">

                    <div class="player">
                        <div class="playerName">

                        @{
                            if(controller.getPlayerState == PlayerState.PLAYER_ONE) {
                                controller.getPlayer1.toString
                            } else if(controller.getPlayerState == PlayerState.PLAYER_TWO) {
                                controller.getPlayer2.toString
                            }
                        }
                        </div>
                        <div class="clear"></div>
                        @for(row <- 0 until 10) {
                            <div class="grid-container">
                            @for(col <- 0 until 10) {
                                <span class="grid-item">
                                    <button name="submit" type="button" class="btn btn-outline-secondary buttonSize" id="@row@col" onclick="handleShipSetClick(@row, @col)">
                                    @{
                                        var valueOfField: Int = 0
                                        if(controller.getPlayerState == PlayerState.PLAYER_ONE) {
                                            valueOfField = controller.getGridPlayer1.getValue(row, col)
                                        } else if(controller.getPlayerState == PlayerState.PLAYER_TWO) {
                                            valueOfField = controller.getGridPlayer2.getValue(row, col)
                                        }
                                        var cellId = Array(row, col)
                                        if(valueOfField == 0) {
                                                <span class="blue">~</span>
                                        }
                                        else if(valueOfField == 1) {
                                                <span class="green">x</span>
                                        }

                                    }
                                    </button>
                                </span>
                            }
                            </div>
                        }
                        <div class="shipSetPossibilities">

                            @{
                                "You can still place: "
                            }
                            <div class="clear"></div>
                            <div class="separation">
                                @for(nr <- 0 until 4) {
                                    <div id="ship@nr"></div>
                                    <div class="clear"></div>
                                }
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </div>
}
