@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import play.api.data._
@import forms.TotpSetupForm.Data
@import com.mohiva.play.silhouette.impl.providers.GoogleTotpCredentials
@import com.mohiva.play.silhouette.impl.providers.GoogleTotpInfo
@import Battleship.controller.ControllerBaseImpl.PlayerState

@this()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)
@(user: models.User, totpInfoOpt: Option[GoogleTotpInfo], controller: Battleship.controller.InterfaceController, totpDataOpt: Option[(Form[Data], GoogleTotpCredentials)] = None)(implicit request: RequestHeader, messages: Messages)
@implicitFieldConstructor = @{
    b4.vertical.fieldConstructor()
}
@main(messages("home.title"), Some(user)) {
    <div class="user col-md-6 col-md-offset-3">
        <body id="body_winningpage">
            <br>
            <br>
            <h1>
            @{
                if(controller.getPlayerState == PlayerState.PLAYER_ONE) {
                    controller.getPlayer1.toString
                } else if(controller.getPlayerState == PlayerState.PLAYER_TWO) {
                    controller.getPlayer2.toString
                }
            }
            </h1>
            <div class="form-group row col middleButton">
                <button name="submit" type="submit" class="btn btn-primary middleButton" onclick="playAgain()">Play Again</button>
            </div>
        </body>
    </div>
}
