@import Battleship.controller.ControllerBaseImpl.PlayerState
@(controller: Battleship.controller.InterfaceController)
@main("Battleship") {
    <body id="body_winningpage">
        <h1>
        @{
            if(controller.getPlayerState == PlayerState.PLAYER_ONE) {
                controller.getPlayer1.toString
            } else if(controller.getPlayerState == PlayerState.PLAYER_TWO) {
                controller.getPlayer2.toString
            }
        }
        </h1>
        <div class="video_div">
            <video autoplay loop id="video_winningpage">
                <source src="@routes.Assets.versioned("images/great_success.mp4")" type="video/mp4">
            </video>
        </div>
    </body>

}